.about {
    position: relative;
    height: 800px;
}
.infoBox_top-head {
    padding: 50px 0 0 20px;
}
.blueBerry {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    z-index: -1;
}

// .aboutImg {
//     width: 90%;
//     height: auto;
// }