/*MEDIA QUERIES*/
@media (max-width: 318px) {
	.carousel {
		display: none;
	}
}

@media (min-width: 768px) {

	.patternBox {

		&_white {
			&-items {

				.image {
					width: 200px;
				}

				.stars {
					margin-top: 25px;
				}
			}
		}
	}

	//Titles - all sections 
	.section_title {
		&-head {
			font-size: 60px;
			margin-top: 50px;
			padding-top: 25px;
		}

		&-span {
			font-size: 50px;
		}
	}

	//INFO BOX (first welcome section & newsletter)
	.infoBox {
		height: 700px;

		&_top {
			width: 90%;
			margin: 100px auto 0 auto;
		}

		&_bottom {
			margin: 120px 0 0 0;
			display: flex;

			//infoBox newsletter image
			&-img {
				width: 200px;
			}
		}
	}

	.carousel {
		bottom: 50px !important;
	}

	.recipe_section {
		margin-top: 80px;
	}

	/*FOOTER CSS*/
	.footer {
		&_top {
			display: flex;
		}

		&_box {
			height: 350px;

			&-logo {
				margin: 0 0 0 0;
			}

			&-txt {
				padding-top: 10px;
			}

			&-social {
				margin: 0;
				padding: 0;
			}
		}
	}
}

@media (min-width: 1024px) {
	#topBtn {
		display: block;
	}

	.nav_hamburger {
		display: none;
	}

	.menu {
		display: flex;
	}

	.section {
		display: flex;
	}

	.infoBox {
		height: 800px;
	}

	.patternBox {
		width: 70%;
		height: auto;

		&_white {
			&-items {

				.image {
					width: 200px;
				}
			}
		}
	}

	.patternNewsletter {
		display: block;
	}

	.recipe {
		width: 800px;
		margin: 0 auto 100px auto;
	}

	.leaf-left {
		display: block;
	}

	.leaf-right {
		display: block;
	}

	//About site
	 .aboutImg {
	 	width: 200px !important;
	 }
}

@media (min-width: 1280px) {
	.infoBox {
		height: 100vh;

		&_top {
			margin: 120px auto 0 auto;
			width: 80%;
		}
	}

	.infoBox_newsLetter {
		height: 100vh;
	}

	.recipe {
		width: 1100px;
		margin: 0 auto 100px auto;
	}
}

@media (min-width: 1800px) {
	.patternBox {

		&_white {
			&-items {

				.image {
					width: 300px;
				}

				.blogTitle {
					font-size: 22px;
				}
			}
		}
	}

	//Titles - all sections 
	.section_title {
		&-head {
			font-size: 70px;
			padding-top: 30px;
		}

		&-span {
			font-size: 60px;
		}
	}

	//INFO BOX (first welcome section & newsletter)
	.infoBox {
		&_top {
			width: 65%;
			margin: 200px auto 0 auto;
		}

		&_bottom {

			//newsletter infoBox img
			&-img {
				width: 250px;
			}
		}
	}

	.carousel {
		bottom: 80px;
	}
}

@media (min-width: 2048px) {
	.patternBox {
		height: 1080px;
	}

	.infoBox {
		height: 1080px;
	}

	.infoBox_newsLetter {
		height: 1080px;
	}
}

@media (min-width: 2560px) {
	.patternBox {
		height: 1200px;
	}

	.infoBox {
		height: 1200px;
	}

	.infoBox_newsLetter {
		height: 1200px;
	}
}

@media (min-width: 2560px) and (device-height: 1080px) {
	.patternBox {
		height: 1080px;
	}

	.infoBox {
		height: 1080px;
	}

	.infoBox_newsLetter {
		height: 1080px;
	}
}