.center_infoBox {
  .input_container-center {
    width: 100%;
    margin: 0 auto 0 auto;
  }

  .fieldset_input-center {
    position: relative;
  }

  .label_center {
    text-align: left;
    margin: 20px 0 0 0;
    display: block;
  }

  .center_infoBox-description {
    text-align: left;
    padding: 25px 0 0 20px;
  }

  //contact.html
  .label_padd {
    padding: 50px 0 0 0;
  }

  .center_field {
    text-align: center;
  }

  .textarea {
    height:200px;
    margin-top: 15px;
  }
}

//RECIPES FILTER SECTION
#recipes_filters {
  margin: 30px 0 0 0;
  text-align: center;
  padding: 0;
}

.recipe_filter {
  padding: 20px;
  outline: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
}

.recipe_filter:hover {
  color: $orange-color;
}

.recipe_filter.tag--active {
  color: $orange-color;
}

.recipe_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 50px auto;
  padding: 0;
  width: 90%;
  order: 1;
}

.recipe_column {
  padding: 0;
  display: none;
  //Hide recipe_row by default
}

.filter--show {
  display: block;
}

#recipes_filters-message {
  color: #eb3924;
  background-color: rgba(235, 209, 143, .6);
  padding: 10px;
}

//RECIPES FILTER SECTION THE END