.leftBox {
  width: 100%;
  height: auto;

  &_item {
    margin: 20% auto 0 auto;
    background-color: $white-color;
    width: 70%;

    &-img {
      width: 100%;
      height: auto;
    }
  }

  &_itemColor {
    margin: 5% auto 0 auto;

    &-head {
      font-size: 16px;
      font-weight: bold;
      border: 2px dotted $orange-color;
      //font-family: $fontWrite;
      text-align: center;
      padding: 0px;
    }

    &-list {
      padding: 20px;

      li {
        list-style-type: circle;
        padding: 5px;
      }
    }
  }
}

.infoBoxPost {
  width: 100%;
  position: relative;

  .iconSet {
    position: relative;
    width: 280px;
    height: 10px;
    cursor: default;
    margin: 40px auto -10px auto;

    &_icon {
      float: left;
      margin: 10px auto 0 18px;
    }

    &_iconTxt {
      float: left;
      margin: 12px 15px 0px 5px;
      font-weight: 400;
      font-size: 14px;
    }
  }

  &_head {
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    padding: 25px 20px 0 20px;
  }

  &_description {
    width: 80%;
    font-size: 16px;
    font-weight: lighter;
    padding: 25px 20px;
  }
}

.recipePost_recipe {
  width: 100%;
}