$navyBlue-color: #363896;
$orange-color: #E16625;
$white-color: #fff;
$grey-color: #8D8D8D;
$lightGrey-color: #ced6e0;
$green-color: #92cb9e;
$fontSerif: 'Playfair Display', serif;
$fontWrite: 'Great Vibes', cursive;
$border-width: 5px; //recipeBox hover