$navyBlue-color: #363896;
$orange-color: #E16625;
$white-color: #fff;
$grey-color: #8D8D8D;
$lightGrey-color: #ced6e0;
$fontSerif: 'Playfair Display', serif;
$fontWrite: 'Cookie', cursive;
$border-width: 5px; //recipeBox hover