$bg-color: #fff;
$orange-color: #E16625;
$blue-color: #D0E8F2;
$navyBlue-color: #363896;
$grey-color: #8D8D8D;
$border-width: 12px;
$fontSerif: 'Playfair Display', serif;
$fontWrite: 'Cookie', cursive;