.title_mobile {
  display: block;

  @media (min-width: 1024px) {
    display: none;
  }
}

.title_desktop {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.leftBox {
  width: 100%;
  height: auto;

  @media (min-width: 1024px) {
    width: 40%;
  }

  &_item {
    margin: 10% auto 0 auto;
    background-color: $white-color;
    width: 100%;

    @media (min-width: 1024px) {
      margin: 10% auto 0 auto;
    }

    &-img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;

      @media (min-width: 1800px) {
        width: 50%;
      }
    }
  }

  &_itemColor {
    margin: 5% auto 0 auto;

    &-head {
      font-size: 16px;
      font-weight: bold;
      border: 2px dotted $orange-color;
      //font-family: $fontWrite;
      text-align: center;
      padding: 0px;
    }

    &-list {
      padding: 20px;

      li {
        list-style-type: circle;
        padding: 5px;
      }
    }
  }
}

.infoBoxPost {
  width: 100%;
  position: relative;

  @media (min-width: 1024px) {
    width: 60%;
  }

  .iconSet {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 10px;
    cursor: default;
    margin: 40px auto 50px auto;

    @media (min-width: 1024px) {}

    &_icon {
      float: left;
      margin: 10px 0 0 0;
    }

    &_iconTxt {
      float: left;
      margin: 12px 15px 0 5px;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .print {
    padding: 12px 0 0 0;
    text-decoration: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }

  .print:hover {
    color: $orange-color;
  }

  &_head {
    width: 90%;
    font-size: 16px;
    font-weight: bold;
    padding: 25px 10px 0 10px;

    @media (min-width: 1024px) {
      padding: 50px 0 0 0;
    }
  }

  &_description {
    width: 95%;
    font-size: 16px;
    font-weight: lighter;
    padding: 25px 10px;

    @media (min-width: 1024px) {
      padding: 25px 0;
    }
  }
}

.gallery {
  width: 100%;

  @media (min-width: 1024px) {
    width: 80%;
    display: flex;
    margin: 100px auto;
  }

  &_left {
    width: 90%;
    margin: 20px auto;
    align-items: center !important;

    @media (min-width: 1024px) {
      width: 50%;
      align-items: center;
      margin: 0 auto;
    }

    &-image {
      width: 80%;
      margin: 0px auto;
      display: block;
    }
  }

  &_right {
    position: relative;
    width: 90%;
    margin: 40px auto 200px auto;

    @media (min-width: 1024px) {
      width: 50%;
      margin: 0 auto;
    }

    &-image {
      width: 60%;
    }

    &-image2 {
      position: absolute;
      top: 25%;
      left: 40%;
      width: 60%;
    }
  }
}