html {
	scroll-behavior: smooth;
}

body {
	width: 100% !important;
	margin: 0px !important;
	padding: 0px !important;
	overflow-x: hidden;
	font-family: $font;
	box-sizing: border-box;
}

//1024px display flex - split the window into two parts
.section {
	width: 100%;

	@media (min-width: 1024px) {
		display: flex;
	}
}
.section-post {
	width: 90%;
	margin: 0 auto;

	@media (min-width: 1024px) {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

//Titles - all sections 
.section_title {
	position: relative;

	&-head {
		display: block;
		font-size: 35px;
		font-family: $fontSerif;
		font-weight: 500;
		color: $navyBlue-color;
		text-align: center;
		margin-top: 70px;
		padding-top: 10px;

		@media (min-width: 768px) {
			font-size: 60px;
			margin-top: 50px;
			padding-top: 25px;
		}
		@media (min-width: 1800px) {
			font-size: 70px;
			padding-top: 30px;
		}
	}

	&-span {
		position: absolute;
		top: 0;
		left: 50%;
		font-family: $fontWrite;
		font-size: 25px;
		color: $orange-color;

		@media (min-width: 768px) {
			font-size: 50px;
		}
		@media (min-width: 1800px) {
			font-size: 60px;
		}
	}

	&-stars {
		@include centerBlock;
		@include stars;
	}
}

//Hide and show elements after click on the print button
@media print {
	.noprint {
		display: none;
	}

	.title_desktop {
		display: block;
	}
}