.leaf-left {
	display: none;
	position: absolute;
	width: 150px;
	top: 15%;
	left: 0;
	margin-left: -20px;
	z-index: -1;
	overflow-x: hidden;
}
.leaf-right {
	display: none;
	position: absolute;
	width: 150px;
	bottom: 0;
	right: 0;
	margin-right: -20px;
	z-index: -1;
	overflow-x: hidden;
}

.leaf-left--nav {
	display: none;
	position: absolute;
	width: 150px;
	margin-top: 15%;
	left: 0;
	margin-left: -20px;
	z-index: -1;
	overflow-x: hidden;
}