//INFO BOX (next to the pattern)
.infoBox {
	width: 100%;
	height: 750px;
	position: relative;

	@media (min-width: 768px) {
		height: 700px;
	}

	@media (min-width: 1024px) {
		width: 60%;
		height: 800px;
	}

	@media (min-width: 1280px) {
		height: 100vh;
	}

	@media (min-width: 2048px) {
		height: 1080px;
	}

	@media (min-width: 2560px) {
		height: 1200px;
	}

	@media (min-width: 2560px) and (device-height: 1080px) {
		height: 1080px;
	}

	&_top {
		@media (min-width: 768px) {
			width: 90%;
			margin: 100px auto 0 auto;
		}

		@media (min-width: 1280px) {
			margin: 120px auto 0 auto;
			width: 80%;
		}

		@media (min-width: 1800px) {
			width: 65%;
			margin: 200px auto 0 auto;
		}

		//used in about page
		&-description {
			font-size: 16px;
			font-weight: lighter;
			padding: 25px 20px;
		}

		//SUBMENU - home page links to recipes and blog sites
		&-subMenu {
			margin: 10px 0 0 20px;

			&--item {
				list-style-type: none;
				padding-top: 10px;
			}

			&--item:hover .infoBox_top-subMenu--txtSpan {
				color: $orange-color;
			}

			&--link {
				text-decoration: none;
				border: none;
			}

			&--txt {
				display: block;
				font-size: 16px;
				font-weight: 500;
				color: black;
				margin: -15px 0 0 40px;
				text-transform: capitalize;
			}
			&--txt:hover {
				color: $orange-color;
			}

			&--txtSpan {
				font-size: 16px;
				font-weight: 200;
				text-transform: lowercase;
				color: #000;
			}

			.subMenu-starIcon {
				display: block;
				width: 8px;
			}
		}
	}

	&_bottom {
		position: absolute;
		width: 100%;
		padding: 0;
		bottom: 0;

		@media (min-width: 768px) {
			margin: 120px 0 0 0;
			display: flex;
		}

		&_social {

			&-item {
				display: inline-block;
				list-style-type: none;
				margin: 0 0 30px 0;
			}

			&-link {
				text-decoration: none;
				margin: 0 0 0 15px;
			}

			&-facebook {
				width: 14px;
			}

			&-insta {
				width: 14px;
			}

			&-txt {
				font-size: 14px;
				font-weight: 500;
				margin: -15px 0 0 20px;
			}
		}

		//infoBox newsletter image
		&-img {
			display: block;
			width: 40%;
			margin: 0 auto 0 auto;
			padding: 0;

			@media (min-width: 768px) {
				width: 200px;
			}

			@media (min-width: 1800px) {
				width: 250px;
			}
		}

	}

	&_newsLetter {
		height: 800px;
		@media (min-width: 1280px) {
			height: 100vh;
		}

		@media (min-width: 2048px) {
			height: 1080px;
		}

		@media (min-width: 2560px) {
			height: 1200px;
		}

		@media (min-width: 2560px) and (device-height: 1080px) {
			height: 1080px;
		}
	}
}


//Recipes Page
.center_infoBox {
	.input_container-center {
		width: 100%;
		margin: 0 auto 0 auto;

		@media (min-width: 768px) {
			width: 50%;
			margin: 0 auto 0 auto;
		}
	}

	.label_center {
		text-align: center;
		margin: 20px 0 0 0;
		display: block;

		@media (min-width: 768px) {
			text-align: center;
			margin: 0 auto 0 auto;
			display: block;
		}
	}

	.center_infoBox-description {
		text-align: center;
		padding: 25px 0 0 20px;

		@media (min-width: 768px) {
			text-align: center;
			padding: 30px 0 0 0;
			margin: 0;
		}
	}

	//contact.html
	.label_padd {
		padding: 50px 0 0 0;
	}

	.center_field {
		text-align: center;
	}

	.textarea {
		height: 200px;
		margin-top: 15px;
	}
}

//Used in recipes site. Mobile infoBox text-align: left. For 768px & more is centered 
.infoBox_leftCenter {
	width: 100%;
	position: relative;

	@media (min-width: 768px) {
		max-width: 600px;
		margin: 0 auto 0 auto;
	}

	.fieldset_leftCenter {
		@media (min-width: 768px) {
			left: 21%
		}
	}

	.fieldset_input {
		position: relative;
		margin: 0 auto;
	}

	.label_leftCenter {
		text-align: left;
		margin: 20px 0 0 0;
		display: block;

		@media (min-width: 768px) {
			text-align: center;
			padding: 25px 0 25px 0;
			margin: 0 auto 0 auto;
		}
	}

	.description_leftCenter {
		text-align: left;
		padding: 25px 0 0 20px;

		@media (min-width: 768px) {
			text-align: center;
			padding: 25px 0 0 0;
			margin: 0 auto 0 auto;
		}
	}
}