.patternBox {
	@include bg-pattern;
	position: relative;

	@media (min-width: 1024px) {
		width: 40%;
		height: auto;
	}

	@media (min-width: 2048px) {
		height: 1080px;
	}

	@media (min-width: 2560px) {
		height: 1200px;
	}

	@media (min-width: 2560px) and (device-height: 1080px) {
		height: 1080px;
	}

	&_white {
		@include centered;
		background-color: $white-color;
		width: 75%;
		height: 85%;
		-webkit-box-shadow: 0px 0px 16px -11px rgba(66, 68, 90, 1);
		-moz-box-shadow: 0px 0px 16px -11px rgba(66, 68, 90, 1);
		box-shadow: 0px 0px 16px -11px rgba(66, 68, 90, 1);

		&-items {
			position: relative;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			/* Safari 4+ */
			-moz-transform: translate(-50%, -50%);
			/* Fx 5+ */
			-o-transform: translate(-50%, -50%);
			/* Opera 12+ */
			-ms-transform: translate(-50%, -50%);
			/*IE11 & Microsoft Edge*/
			transform: translate(-50%, -50%);
			/* IE 10+, Fx 29+ */
			z-index: 9;

			.image {
				@include centerBlock;
				margin-top: 5px;
				max-width: 70% !important;
				max-height: 50vh;

				@media (min-width: 1024px) {
					width: 200px;
				}

				@media (min-width: 1800px) {
					width: 300px;
				}
			}

			.stars {
				@include centerBlock;
				@include stars;

				@media (min-width: 768px) {
					margin-top: 25px;
				}
			}

			.blogTitle {
				color: $orange-color;
				text-align: center;
				margin-top: 15px;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 3px;

				@media (min-width: 1800px) {
					font-size: 22px;
				}
			}
		}
	}
}

.patternNewsletter {
	display: none;

	@media (min-width: 1024px) {
		display: block;
	}
}