html {
	scroll-behavior: smooth;
}

body {
	width: 100% !important;
	margin: 0px !important;
	padding: 0px !important;
	overflow-x: hidden;
	font-family: $font;
	box-sizing: border-box;
}

//1024px display flex - split the window into two parts
.section {
	width: 100%;
}

//Titles - all sections 
.section_title {
	position: relative;

	&-head {
		display: block;
		font-size: 35px;
		font-family: $fontSerif;
		font-weight: 500;
		color: $navyBlue-color;
		text-align: center;
		margin-top: 70px;
		padding-top: 10px;
	}

	&-span {
		position: absolute;
		top: 0;
		left: 50%;
		font-family: $fontWrite;
		font-size: 25px;
		color: $orange-color;
	}

	&-stars {
		@include centerBlock;
		@include stars;
	}
}