//RECIPES FILTER SECTION
#filter {
  margin: 70px 0 0 0;
  text-align: center;
  padding: 0;
}

.filter_item {
  display: inline-block;
  &-link {
    padding: 20px;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $navyBlue-color;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
  }
  &-link:hover {
    color: $orange-color;
  }
  .tag-active {
    color: $orange-color !important;
  }
}

//row for recipes & posts cards
.posts_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 50px auto;
  padding: 0;
  width: 90%;
  order: 1;
}
//RECIPES FILTER SECTION THE END





